*.bak
*.orig
*.wasm
*.o
*.bin
build/
*.img
*.fixture
*.fuse_hidden*
*.DS_Store
node_modules/
Cargo.lock
crates/v86/src/gen/interpreter.rs
crates/v86/src/gen/interpreter0f.rs
crates/v86/src/gen/analyzer.rs
crates/v86/src/gen/analyzer0f.rs
crates/v86/src/gen/jit.rs
crates/v86/src/gen/jit0f.rs
